.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: no-repeat center center/cover;
    color: #fff;
    text-align: center;
}

.imageBackground {
    opacity: 0.70;

}

.welcomeTitle {
    font-family: 'Montserrat', sans-serif;
    font-size: 4rem;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    animation: fadeInUp 1s ease-in-out;
}

.informativeText {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5rem;
    color: #fff;
    margin-top: 20px;
}