.carouselTextInformation {
    font-size: 1.8rem;
    margin-bottom: 10px;
    color: rgb(59, 140, 155);
    padding: 3rem;
    font-family: sans-serif;
    font-weight: 300;
    display: flex;
    flex-direction: column;
    margin-left: -2rem;
    font-weight: bold;

}